<p id="notice"><%= notice %></p>

<h1>Listing Notes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Date and Time</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.name %></td>
        <td><%= note.phone_number %></td>
        <td><%= note.date_and_time %></td>
        <td><%= note.body %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class="btn"><%= link_to "Download PDF", note_download_path(@notes, :format => "pdf") %></button>

<button class="btn"><%= link_to "Send Notes by email", :controller => "notes", :action => "send_notes_mail" %></button>
<!-- target blank opens it in a new tab/window -->
<%= link_to 'New Note', new_note_path %>
