<div class="container">
  <h3>Name: <%= @note.name %></h3>
    <br>  
  <h5>Phone Number: <%= @note.phone_number %></h5>
    <br>
  <h5>Date: <%= @note.date %></h5>
    <br>
  <h5>Time: <%= Time.parse(@note.time).strftime('%H:%M:%S') %></h5>
    <br>
  <h5>Message: <%= @note.body %></p>
    <br>
</div>